{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}

    <form class="col-12 col-md-8 py-5 my-5 mx-auto formLogin" method="post">

        <div class="container col-md-7">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData,'security') }}</div>
            {% endif %}

            {% if app.user %}

                    Vous êtes déja connecté avec l'email : {{ app.user.username }}, voulez vous vous déconnecter ? <a href="{{ path('app_logout') }}">Se déconnecter</a>

            {% endif %}
            
            <div class="py-5">
                <img src="{{ asset('asset/logos/blanc_logo_small.png') }}"  class="w-100" alt="">
            </div>
        
            <div class="form-group pt-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Votre email...">
            </div>

            <div class="form-group">
                <label for="inputPassword" class="pt-3">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe...">
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="form-group">
                <button class="btn btn-lg btn-success mt-4" type="submit">Se connecter</button>
            </div>   

        </div>

    </form>


{% endblock %}
