{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
            <section class="formLogin container my-5 pt-3">
                <h1 class="text-center">Créer un compte</h1>
                <div class="container col-md-12 my-5 row">
                    <div class="col-md-5 widthPicture"><img src="{{ asset('asset/logos/blanc_logo_small_icon_only_W&B.png') }}" class="img-fluid" alt=""></div>
                     <div class="col-md-7" method="POST">

                        {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.pseudo) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword) }}
                            {# {{ form_row(registrationForm.agreeTerms) }} #}

                            <button type="submit" class="btn btn-success mt-3">Créer un compte</button>
                        {{ form_end(registrationForm) }}

                    </div>

                </div>
            </section>

{% endblock %}
