{% extends 'base.html.twig' %}

{% block title %}Suivez les vidéos et montez votre propre pc{% endblock %}

{% block body %}
<div class="container-fluid">
    {% if app.user %}
        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}  
            <a href="{{ path('video_new') }}" class="btn btn-primary mb-2">Ajouter une nouvelle Vidéo</a>
        {% endif %}
    {% endif %}


    {% if videos | length > 0 %}

        {{ knp_pagination_render(videos) }}
    <div class="row my-4">

    {% for video in videos %}
            <div class="col-md-3 pb-4"> 
                <div class="card zoomVideo">
                    <iframe class="w-100 h-100" src="{{ video.lienVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-body">
                        
                        <h3>{{ video.titre }}</h3>
                        <p>{{ video.description }}</p>
                        <span>Source: <a class="fontColor" href="{{ video.lienSource }}">{{ video.source }}</a></span>
                        

                        {% if app.user %}
                            {% if app.user.roles[0] is same as "ROLE_ADMIN" %} 
                            <span>Ajouté le: {{ video.createdAt ? video.createdAt | date('d-m-Y') : '' }}</span> <br> 
                            <span>id: {{ video.id }}</span><br>   
                                <a href="{{ path('video_edit', {'id': video.id}) }}" class="btn btn-warning mt-3">Modifier</a>
                                <a href="{{ path('video_show', {'id': video.id}) }}" class="btn btn-success mt-3">Afficher</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p colspan="7">Aucun enregistrement trouvé</p>
    {% endfor %}
    </div>
{{ knp_pagination_render(videos) }}
    {% endif %}
  
</div>





    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>LienVideo</th>
                <th>Description</th>
                <th>Source</th>
                <th>LienSource</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.titre }}</td>
                <td><iframe width="560" height="315" src="{{ video.lienVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                <td>{{ video.description }}</td>
                <td>{{ video.source }}</td>
                <td>{{ video.lienSource }}</td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


{% endblock %}
