{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}

    <h1>{{ categorie.nom | upper }}</h1>

    <div class="row">
        {% for article in articles %}

            <div class="col-12 col-md-4">
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{ asset(article.image) }}"  class="img-fluid w-100" alt="">
                        </div>
                        <div class="card-body">
                            <h5>{{ article.titre }}</h5>
                        </div>
                        <div class="card-footer">
                            <p>{{ article.contenu | personal_trunc }}</p>
                        </div>
                    
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>




















    {# <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user %}
        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
            <a href="{{ path('categorie_index') }}">back to list</a>

            <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>
        
            {{ include('categorie/_delete_form.html.twig') }}
        {% endif %}
    {% endif %} #}
{% endblock %}
