{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}


    <div class="col-12 col-md-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mb-4">Rechercher</button>
        {{ form_end(form) }}
    
    </div>
<div class="container-fluid">
    <a href="{{ path('article_new') }}" class="btn btn-primary my-2">Ajouter un nouvel article</a>

    {% if articles | length > 0 %}

        {{ knp_pagination_render(articles) }}

    <div class="row">

        {% for article in articles %}
            
            <div class="col-md-4 pb-4">
                <div class="card">
                    <img src="{{ asset(article.image) }}" class="w-100" alt="">
                    <div class="card-body">
                        <span>id: {{ article.id }}</span> <br>
                        <span>Catégorie : {{ article.categorie.nom }}</span> <br>
                        {{ article.titre }} <br><br>
                        {{ article.contenu }}
                        <br>
                        <br> <span>Source: <a href=" {{ article.lien }} ">{{ article.source }}</a></span><br>
                        
                        
                        
                        <span>Ajouté le: {{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</span>  <br>
                        
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-success mt-3">Afficher</a>
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning mt-3">Modifier</a>                   
                    </div>       
                
            
                </div>
            </div>


            
        {% endfor %}
    </div>

        {{ knp_pagination_render(articles) }}      

        {% else %}
            <p colspan="8">Aucun enregistrement trouvé</p>
            
    {% endif %}
</div>
        
    
    

{% endblock %}
